<h1>Hello, World!</h1>

<a href="{{ url(['ads/add']) }}" class="btn btn-success">Добавить объявление</a>

<table class="table">
  <thead>
    <tr>
      <th>Марка, модель</th>
      <th>Цена (руб)</th>
      <th>Фото</th>
      <th>Год</th>
      <th>Пробег</th>
      <th>Цвет</th>
      <th>Город</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for adv in ads %}
    {% set car = adv.getCar().one() %}
    {% set manufactor = car.getManufactor().one() %}
    {% set photo = car.getOriginalPhoto(adv.id) %}
    {% set thumbnail = car.getThumbnails(adv.id) %}
    <tr id="adv-{{ adv.id }}">
      <th scope="row"><a href="{{ url('ads/view', {'id': adv.id}) }}">{{ manufactor.name }} {{ car.name }}</a></th>
      <td>{{ adv.price }}</td>
      <td><a href="{{ url('ads/view', {'id': adv.id}) }}"><img src="/uploads/{{ thumbnail[1].filename }}" class="" alt="..."></a></td>
      <td>{{ adv.year }}</td>
      <td>{{ adv.mileage }}</td>
      <td>Белый</td>
      <td>{{ adv.getCity().name }}</td>
      <td><a onclick="deleteAdv(this.parentElement.parentElement.id); return false;" class="btn btn-primary">Удалить</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{{ use('/yii/widgets') }}
{{link_pager_widget({
   'pagination': pages
}) }}