{% set car = adv.getCar().one() %}
{% set manufactor = car.getManufactor().one() %}
{% set thumbnail = car.getAllThumbnails(adv.id)[0][0] %}
{% set smallThumbnails = car.getAllThumbnails(adv.id)[1] %}
{% set photo = car.getOriginalPhoto(adv.id) %}
    
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <h3>Информация об автомобиле</h3>
    <h5>{{ manufactor.name }} {{ car.name }}</h5>
    <p>Пробег: {{ adv.mileage }}</p>
    <p>Год: {{ adv.year }}</p>
    <p>Город: {{ adv.getCity().one().name }}</p>
    <p>Номер телефона: {{ adv.phone }}</p>
    <b>Дополнительное оборудование</b>
    <ul>
    {% for ad in adv.getAdsAddictionalEquipments().all() %}
        {% set adEquip = ad.getEquipment().one() %}
        <li>{{ adEquip.name }}</li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-md-3 col-md-pull-9">
    <a href="/uploads/{{ photo.filename }}"><img src="/uploads/{{ photo.filename }}" width="146" height="106" /></a>
    {% for th in smallThumbnails[1:] %}
        <a href="/uploads/{{ th.filename }}"><img src="/uploads/{{ th.filename }}" /></a>
    {% endfor %}
  </div>
</div>